<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Canteen Automation System</title>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
<form class="container-fluid border border-5 bg-dark text-white text-center">
    <a href="/home" style="text-decoration: none; color: white;">
        <div class="row">
            <div class="col-md-12">
                <h1>Canteen Automation System</h1>
            </div>
        </div>
    </a>
</form>

<div class="row">
    <form class="col-md-2">
        <nav class="border border-5 navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar-nav flex-md-column">
                <li><a class="nav-link" href="/home">Home</a></li>
                <li><a id="authButton" class="nav-link active" href="/login">Log In</a></li>
                <li><a id="ordersOnly" class="nav-link" href="/myOrders">My Orders</a></li>
                <li><a id="productsOnly" class="nav-link" href="/products">Products</a></li>
                <li><a id="dashboardOnly" class="nav-link" href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </form>

    <form class="w-50" action="/login" method="post">
        <h2 class="mb-4">Login</h2>
        <label for="username">Username</label>
        <input required type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        <label for="password">Password</label>
        <input required type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        <br>
        <label for="role">Role</label>
        <select id="role" name="role" class="form-select" required>
            <option value="">Select Role</option>
            <option value="customer">Customer</option>
            <option value="employee">Employee</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<script src="js\script.js"></script>
</body>
</html>
